{% extends 'base.html.twig' %}

{% block title %}Nouvelle recette{% endblock %}

{% block body %}
    <h1>Créer une nouvelle recette</h1>

    {{ include('recette/_form.html.twig') }}

    <a href="{{ path('app_recette_index') }}">Retour à la liste de recettes</a>
{% endblock %}
