{% extends 'base.html.twig' %}

{% block title %}Nouveaux Ingrédients{% endblock %}

{% block body %}
    <h1>Crée ton nouvel ingrédient</h1>

    {{ include('admin/ingredient/_form.html.twig') }}

    <a href="{{ path('app_ingredient_index') }}">Retour à la liste</a>
{% endblock %}
